:root  > * {
  --md-primary-fg-color:        #456AA5;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
  --md-accent-fg-color: #5689da;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bordered {
  border: 1px solid gray;
}

.md-button {
  padding: .425em 1em !important;
}